<?xml version="1.0" encoding="UTF-8"?>

<web-app>
	<servlet>
		<servlet-name>hello</servlet-name>
		<servlet-class>
			org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>hello</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>

	<!-- board sample test-->
	<servlet>
		<servlet-name>board</servlet-name>
		<servlet-class>
			org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>board</servlet-name> 
		<url-pattern>*.board</url-pattern> 
	</servlet-mapping>	
	
	<servlet>
		<servlet-name>brd</servlet-name>
		<servlet-class>
			org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>brd</servlet-name> 
		<url-pattern>*.brd</url-pattern> 
	</servlet-mapping>	
	

	<servlet>
		<servlet-name>email</servlet-name>
		<servlet-class>
			org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>email</servlet-name>
		<url-pattern>*.email</url-pattern>
	</servlet-mapping>
	
	<!-- reserve -->
	<servlet>
		<servlet-name>reserve</servlet-name>
		<servlet-class>
			org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>reserve</servlet-name>
		<url-pattern>*.reserve</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>vCenter</servlet-name>
		<servlet-class>
			org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
	</servlet>
	
	
	<servlet-mapping>
		<servlet-name>vCenter</servlet-name>
		<url-pattern>*.vCenter</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>item</servlet-name>
		<servlet-class>
		org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>item</servlet-name>
		<url-pattern>*.item</url-pattern>
	</servlet-mapping>

</web-app>